<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" [hidden]="dashboard" (click)="viewDashboard()">View Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="events" (click)="viewEvents()">View and manage event</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="members" href="viewMembers()">View and manage members</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="clubs" href="viewClubs()">View and manage clubs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="stores" href="viewStores()">View and manage stores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="specials" href="viewSpecials()">View and manage specials</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="sponsors" href="viewSponsors()">View and manage sponsors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [hidden]="info" href="viewInfo()">View and manage contact information</a>
  </li>
</ul>
<div class="container">
  <div *ngIf="isLoading">
    Loading...
  </div>
  <div *ngIf="dashboard">
    <div *ngFor="let data of dashboardData">
      {{data}}
    </div>
  </div>
  <div *ngIf="events">
    <div *ngFor="let data of eventsData">
      {{data}}
    </div>
  </div>
</div>