<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h3>
        <strong>Admin Login</strong>
      </h3>
    </div>

    <!-- Login Form -->
    <form>
      <div class="error" *ngIf="incorrect">Incorrect username or password!</div>
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="username" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" (click)="login()" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>